<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube Reverse Search</title>
</head>

<body>

    <div id="vid_container">

    </div>

    <button id="capture_btn" onclick="capture()" hidden>Capture</button>
    <canvas id="canvas" style="overflow:auto"></canvas>
    <a id="down_link" download="screenshot.png" href=""><button id="down_btn" hidden>Download Screenchot</button></a>


    <script>

        function add_video(youtubeID) {
            // add a video containershow the capture button
            $("#vid_container").append(
                `<video controls width="250" height="200" src="/get_video/${youtubeID}" id="video"> 
                    This browser does not support the HTML5 video element.
                </video>`
            );
            // show the capture and the download screenshot button
            $("#capture_btn").show(); 
            $("#down_btn").show();
        }


        function capture() {
            var canvas = document.getElementById('canvas');
            var video = document.getElementById('video');
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            canvas.getContext('2d').drawImage(video, 0, 0, video.videoWidth, video.videoHeight);
            canvas.toBlob((blob) => {
                link = (window.URL ? URL : webkitURL).createObjectURL(blob);
                $("#down_link").attr('href', link);
            });
        }

    </script>
</body>

<!-- ffmpeg command to get the 150th frame from video
ffmpeg -i test_video.mp4 -vf "select=gte(n\, 150)" -vframes 1 ./test_image.jpg -->

</html>